<section class="container">
  <header class="header dark-bg">
    <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
    </div>
    <!--logo start-->
    <%= link_to '', class: 'logo pull-left m-t-5' do %>
      <span class="lite">ApiMocko</span>
    <% end %>
    <!--logo end-->
  </header>
</section>
<section class="container">
  <home-app>Loading AppComponent content here ...</home-app>
</section>